name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: |
        go install gotest.tools/gotestsum@latest
        gotestsum --junitfile unit-tests.xml

    - name: Publish Test Results
      uses: enricomi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: "unit-tests.xml"

